# Git
.git
.gitignore

# Python cache & bytecode
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/

# Virtual environments
.venv/
venv/
ENV/
env/

# IDE & OS
.idea/
.vscode/
*.swp
.DS_Store

# Docker & local secrets
Dockerfile*
docker-compose*
.env*
